body{
    font-family: Arial, Helvetica;
    background: #e8e8e8;
    min-height: 100vh;
    height: 800px;
    background-image: url("https://d11a6trkgmumsb.cloudfront.net/original/3X/e/c/ecfbdc40a262cfcf8862fefc5935d276f3fb3280.gif");
    background-size: cover;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/*header*/
.menu{
    background: #163338;
    list-style: none;
    padding: 5px;
    width: 100%;
    margin: auto;
}
.menu li a{
    color: rgb(0, 255, 85);
    text-decoration: none;
    padding: 20px;
    display: block;
    margin: auto;
}
.menu li{
    display: inline-block;
    text-align: center;
    margin-left: 5px;
}
.menu li a:hover{
    background: #ef8354;
}

/*Contenido(FORMULARIO)*/
.container3 {
    height: 100%;
    min-height: 100%;
    margin-top: 100px;
    margin-bottom: 200px;
    background: #ffffff;
}
.card{
    background: #e8e8e8;
    grid-template-columns: 50% 50%;
}

/*Contenidos(6 TARJETAS)*/
.container-cards{
    margin-bottom: 5%;
}
.containerOne {
    height: 100%;
    min-height: 100%;
    background: #ffffff;
    margin: 20px;
}
.containerTwo{
    height: 100%;
    min-height: 100%;
    background: #ffffff;
    margin: 20px;
}
.btn{
    margin-left: 9%;
    margin-top: 2%;
    margin-bottom: 1%
}

/*Login*/
.container-login{
    margin-top: 10%;
    margin-bottom: 10%;

}

/*Quienes somos*/
.textGeneral{
    margin: auto;
    margin-top: 50px;
}
.titleGeneral{
    margin: auto;
    margin-top: 50px;
    }

/*footer*/
.container2{
    
    display: grid;
    grid-template-columns: auto auto auto;
    background: #dfdedc;
    
}
.container2 div{
    text-align: center;
    background: #dfdedc;
}
ul.one{
    list-style: none;
    margin-top: 20px;
    background: #dfdedc;
}
ul.two{
    list-style: none;
    margin-top: 20px;
    background: #dfdedc;
}
hr.one{
    color: black;
}



